:root {
  font-family: "Space Mono", sans-serif;
  line-height: 2.5rem;
  font-weight: 400;

  --color-light-grey: #697c9a;
  --color-dark-grey: #2b3442;

  --primary: #2b3442;

  --background: #f6f8ff;
  --text: #4b6a9b;
  --section: #fefefe;
  --button: #0079ff;
}

[data-theme="dark"] {
  --color-dark-blue: #141d2f;

  --primary: #fff;
  --background: #141d2f;
  --text: #ffffff;
  --section: #1e2a47;
  --button: #0079ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  display: grid;
  place-content: center;
  height: auto;
}

.wrapper {
  width: 37.5rem;
  padding: 3.3rem 2.4rem 4.7rem 2.4rem;
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
}

.logo__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.logo {
  color: var(--primary);
  font-size: 2.6rem;
  font-weight: 700;
}

.theme__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--text);
}

:is(.theme_icon) svg {
  fill: var(--text);
}

.theme {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: var(--text);
}

.input__box {
  position: relative;
  margin-bottom: 1.6rem;
}

.input__search {
  width: 100%;
  padding: 1.8rem 9rem 1.9rem 4.2rem;
  border: none;
  border-radius: 1.5rem;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  font-family: inherit;
  line-height: inherit;
  color: var(--text);
  background-color: var(--section);
}

.input__icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 34%;
  right: 89%;
}

.input__btn {
  position: absolute;
  top: 12%;
  right: 2%;
  width: 8.4rem;
  height: 4.6rem;

  font-family: inherit;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  background: var(--button);
}

.user__section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 3.3rem 2.4rem 4.8rem 2.4rem;
  border-radius: 1.5rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  background-color: var(--section);
}

.user__details {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.9rem;
  row-gap: 3.3rem;
}

.user__avatar {
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  text-align: center;
}

.user__text-box {
  display: grid;
}

.user__name {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.user__link {
  color: #0079ff;
}

.user__text {
  grid-column: 1 / -1;
}

.follow__section {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 1.8rem;
  background-color: var(--background);
  color: var(--text);
}

.follow__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow__title {
  font-size: 1.1rem;
}

.follow__number {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.socials__section {
  display: grid;
  gap: 1.9rem;
}

.socials__box {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.socials__icon {
  width: 1.8rem;
  height: 2.1rem;
}

.error {
  font-size: 2.4rem;
  margin-top: 3rem;
}

/**************************************/
/******************* TABLET *******************/
/**************************************/

@media screen and (min-width: 48em) {
  body {
    font-size: 1.5rem;
  }

  .wrapper {
    width: 76.8rem;
    padding: 14rem 9.8rem 23rem 9.7rem;
  }

  :is(.theme_icon) svg {
    fill: var(--text);
  }

  .input__box {
    margin-bottom: 2.4rem;
  }

  .input__search {
    width: 100%;
    padding: 2.2rem 9rem 2.2rem 8rem;
  }

  .input__icon {
    width: 2.4rem;
    height: 2.4rem;
    top: 33%;
    right: 90%;
  }

  .input__btn {
    top: 14%;
    right: 3%;
    width: 10.6rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .user__section {
    gap: 3.2rem;
    padding: 4rem 4rem 4rem 4rem;
  }

  .user__details {
    column-gap: 4.1rem;
    row-gap: 2.4rem;

    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr max-content;
  }

  .user__avatar {
    height: 11.7rem;
    width: 11.7rem;
    border-radius: 11.7rem;
  }

  .user__text-box {
    align-self: center;
  }

  .user__name {
    font-size: 2.6rem;
  }

  .user__link {
    font-size: 1.6rem;
  }

  .user__text {
    grid-column: 1 / -1;
  }

  .follow__section {
    padding: 1.6rem;
  }

  .follow__title {
    font-size: 1.3rem;
  }

  .follow__number {
    font-size: 2.2rem;
  }

  .socials__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.9rem;
  }

  .socials__box {
    gap: 1.6rem;
  }

  .socials__icon {
    width: 1.8rem;
    height: 2.1rem;
  }

  .link--twitter {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
}

/******************* Loader *******************/
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0079ff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************************/
/******************* DESKTOP *******************/
/**************************************/

@media screen and (min-width: 90em) {
  .wrapper {
    width: 144rem;
    padding: 14.4rem 35.5rem 17rem 35.5rem;
  }

  .theme__box {
    cursor: pointer;
    transition: all 0.2s;
  }

  .theme_icon {
    width: 2rem;
    height: 2rem;
  }

  :is(.theme_icon) svg {
    fill: var(--text);
  }

  .theme__box:hover p {
    color: #222731;
  }

  .theme__box:hover .theme_icon svg {
    fill: #222731;
  }

  .input__icon {
    top: 33%;
    right: 92%;
  }

  .input__search {
    cursor: pointer;
  }

  .input__btn {
    transition: all 0.2s;
    cursor: pointer;
  }

  .input__btn:hover {
    background-color: #60abff;
  }

  .user__section {
    padding: 4.8rem 4.8rem 4.8rem 4.8rem;
  }

  .user__details {
    display: grid;
    column-gap: 3.7rem;
    row-gap: 3.3rem;
  }

  .user__avatar {
    grid-row: 1 / -1;
  }

  .user__text-box {
    grid-template-columns: 1fr 1fr;
  }

  .user__joined {
    grid-column: 2 /3;
    grid-row: 1 /2;
    place-self: end;
  }

  .user__text {
    grid-column: 2 / -1;
  }

  .follow__section {
    margin-left: 15rem;
  }

  .socials__section {
    margin-left: 15rem;
  }

  .link--github {
    cursor: pointer;
    transition: all 0.2s;
  }

  .link--github:hover {
    text-decoration: underline;
  }
}
